.container {
  display: flex;
  margin-left: 10em;
  margin-right: 10em;
}

.tournament-list-container {
  flex: 3;
  margin-right: 6em;
}

.right-container {
  flex: 2;
  padding-top: 8em;
}

.date {
  flex: 1;
  margin-top: 0em;
  font-family: HelveticaNeue;
  font-size: 4em;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
}

.titles {
  font-family: HelveticaNeue;
  font-size: 35px;
  font-weight: bold;
  text-align: left;
  color: #707070;
}
.current_tournament_box {
  display: flex;
  flex-direction: column;
  flex: 4;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.16);
  background-color: #a09f9d;
  justify-content: center;
  padding: 2em;
}
.present_date_box {
  flex: 1;
  padding: 1em;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.16);
  background-color: #ffaf3c;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.past_date_box {
  width: 150px;
  float: left;
  height: 150px;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.16);
  background-color: #e07f00;
}
.past_tournament_box {
  margin-left: 160px;
  height: 150px;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.16);
  background-color: #797877;
}
.location {
  font-family: HelveticaNeue;
  font-size: 2.5em;
  color: #ffffff;
}
.tournament_name {
  font-family: HelveticaNeue;
  font-size: 2em;
  color: #ffffff;
}
.month {
  font-family: HelveticaNeue;
  font-size: 2em;
  font-weight: bold;
  color: #ffffff;
  margin-bottom: 0;
}
.orange_line {
  height: 6px;
  border: 0px;
  border-top: solid 7px #ffaf3c;
}

.tournament_div {
  margin-bottom: 20px;
  min-height: 7em;
  display: flex;
}
.tournament-list-small-container {
  overflow: scroll;
  height: 80vh;
}
