@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400');
body {
	font-family: "Open Sans", sans-serif;
	font-weight: 300;
	margin: 10vh 20vw 10vh 20vw;
}
h1 {
	font-weight: 400;
}
h2 {
	margin: 0;
}

#ballot-options-container {
	display: flex;
	flex-direction:row;
}
.ballot-member-container {
	padding:20px;
}
.big-container {
	border:1px #DFE1E5 solid;
	border-radius: 2px;
	display: flex;
	flex-direction: column;
	margin-bottom: 5vmin;
}
.score-input-field {
	width:100px;
}
legend {
	display: block;
	padding: 15px 0 0 15px;
	float: left;
	font-weight:400;
}
fieldset {
	border: none;
	display: flex;
	flex-direction: column;
}
input {
	padding: 10px;
	font-size: 1.1em;
	border-radius: 2px;
	border: 1px #DFE1E5 solid;
}
input:focus {
	outline: none;
	border-color: #D4D6DA;
}
#motion-container {
	/*align-items: center;*/
}
.motion-option-label {
	display: inline-block;
	text-align: right;
	width: 100px;
	padding-right: 5px;
}
h2.big-container-title {
	background-color: #F3F8FA;
	padding: 20px;
	border-radius: 2px;
	font-weight: 400;
}
.motion-option-container {
	margin: auto;
	padding: 20px;
}
.motion-option-container input {
	width:25vw;
}
.big-container-wo-title {
	margin: auto;
	padding: 20px;
}