input {
    width: 100%;
    padding: 20px 20px;
    margin: 0px;
    box-sizing: border-box;
    border: 2px;
    border-style: solid;
    border-color: rgb(101, 76, 76);
    border-radius: 4px;
    }   

p {
    margin: 20 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 450px;
    margin-left: 450px;
    
}

body {
    background-color: rgb(188, 226, 246);
}


