/*input {
  width: 100%;
  padding: 30px 0px;
  margin: 0px;
  box-sizing: border-box;
  border: 2px;
  border-style: solid;
  border-color: rgb(101, 76, 76);
  border-radius: 4px;
}*/

/*p {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 60px;
  margin-left: 20px;
}*/
