input {
    padding: 20px 20px;
    margin: 0px;
    box-sizing: border-box;
    border: 2px;
    border-style: solid;
    border-color: rgb(101, 76, 76);
    border-radius: 4px;
    }  

.flex-container {
    display: flex;
    flex-direction: column;
    max-width: 800px;
    justify-content: center;
    margin: 0px 275px;
    padding: 50px 50px;
    align-items: center;
    background-color: rgb(255,255,255);
} 

/*p {
    margin: 20 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 450px;
    margin-left: 450px;
    
}
*/

.input-label {
    width: 200px;
}

body {
    background-color: rgb(172, 252, 180);
}

